* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom,#009688 0px, #009688 15vh, #dcdbd2 15vh, #dcdbd2 100%);
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

i {
  font-size: 25px;
  color: grey;
  cursor: pointer;
}

.main-central {
  min-width: 950px;
  height: 900px;
  margin: 20px 0px;
  display: flex;
  flex-wrap: nowrap;
}

/* Parte sinistra */
.left-main {
  height: 100%;
  width: 550px;
}

.left-header {
  height: 70px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px 10px;
  line-height: 70px;
  background-color: #eaeaea;
}

.box-avatar {
  display: flex;
  align-items: center;
}

.box-avatar span {
  margin-left: 10px;
  font-size: 20px;
}

.box-avatar img{
  width: 60px;
  border-radius: 50%;
}

.box-icons-left i {
  margin-left: 20px;
}

.box-icons-left i:last-child {
  margin-right: 12px;
}

.left-disclaimer {
  height: 100px;
  width: 100%;
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

.box-icon-disclaimer {
  padding: 5px 10px;
}

.box-icon-disclaimer i {
  font-size: 25px;
  color: #8edafc;
  padding: 14px;
  background-color: #fff;
  border-radius: 50%;
}

.box-text-disclaimer {
  margin-left: 2px;
  line-height: 1.4;
}

.box-text-disclaimer span {
  text-decoration: underline;
  cursor: pointer;
  color: grey;
}

.left-searchbar {
  width: 100%;
  height: 60px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-searchbar input {
  width: 96%;
  height: 60%;
  padding-left: 40px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.left-searchbar i {
  color: lightgrey;
  cursor: pointer;
  position: absolute;
  left: 22px;
  font-size: 20px;
}

.left-contacts {
  height: calc(100% - 60px - 100px - 70px);
  width: 100%;
  background-color: white;
  overflow-y: auto;
}

.box-contact {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.box-contact span {
  margin-bottom: 22px;
  margin-left: 14px;
  font-size: 20px;
}

.box-contact img{
  width: 60px;
  border-radius: 50%;
}

/* Parte destra */
.right-main {
  height: 100%;
  width: 950px;
}

.right-header {
  height: 70px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #eaeaea;
  border-left: 1px solid lightgrey;
}

.box-contact-header {
  display: flex;
  align-items: center;
}

.box-contact-header img{
  width: 60px;
  border-radius: 50%;
}

.box-info-contact p {
  margin-left: 14px;
  font-size: 20px;
}

.box-info-contact span {
  margin-left: 14px;
  color: grey;
  line-height: 1.4;
}

.box-icons-right {
  line-height: 70px;
}

.box-icons-right i {
  margin-left: 20px;
}

.box-icons-right i:last-child {
  margin-right: 12px;
}

.right-chat {
  height: calc(100% - 70px - 70px);
  width: 100%;
  background-image: url(../img/mine.jpg);
  overflow-y: auto;
}

.container-chat {
  margin: 20px 40px;
}

.message {
  margin: 8px 0;
  padding: 15px 15px 20px 15px;
  min-width: 40%;
  max-width: 60%;
  border-radius: 10px;
  font-size: 20px;
  word-break: break-word;
}

.sent {
  background-color: #d5f9ba;
  float: right;
  clear: both;
}

.received {
  background-color: white;
  float: left;
  clear: both;
}

.right-footer {
  height: 70px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  flex-wrap: nowrap;
}

.box-icon-footer-first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.box-textarea-footer {
  width: 80%
}

.box-textarea-footer input {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60%;
  margin: 15px 0px;
  padding-left: 30px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: lightgrey;
}

.box-icon-footer-second {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
